html{
    font-size:10px;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    display:flex;
    flex-direction: column;
}
.section-1{
    background-color: rgb(31, 43, 52);
    padding:1rem 4rem;
    margin:-0.8rem;
    margin-bottom: 0;
    height:500px;
}
.header{
    display:flex;
    align-items: center;
    width:835px;
    margin:auto;
}
.logo{
    color:white;
    font-size:2.4rem;
    font-weight:600;
}
.links{
    margin:0;
    padding:0;
    display:flex;
    gap:2rem;
    margin-left:auto;
}
a{
    text-decoration: none;
    color:white;
}
.main-text{
    color:white;
    font-weight: 900;
    font-size:4.8rem;
    margin: 0;
}
.sub-text{
    color:lightgray;
    font-size:1.8rem;
    margin-top:0;
}
.hero-text-container{
    width:400px;
    display: flex;
    flex-direction: column;
}
.action-button{
    padding:1rem 2rem;
    background:#3882F6;
    color:white;
    border-radius: 10px;
    font-size:2rem;
    font-weight:bold;
    align-items: center;
    width:150px
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    align-items: center;
    margin-top:7rem;
}
.hero-image{
    width:400px;
    height:200px;
    background-color:grey;
}
.section-2{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    height: 500px;
}
.title{
    text-align: center;
    font-size:3.6rem;
    font-weight:900;
    color:#1F2937;
}
.cards-container{
    display: flex;
    gap:3rem;
}
.card{
    width:180px;
    height:auto;
}
.card-image{
    width: 180px;
    height:180px;
    border:2px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 0;
}
.card-caption{
    margin-top:0;
    color:grey;
    font-size: 2rem;
    text-align: center;
}
.section-3{
    background-color:#E5E7EB;
    height:500px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.quote-container{
    width:760px;
    display: flex;
    flex-direction: column;
}
.quote{
    color:#1F2937;
    font-weight: 300;
    font-size:3.6rem;
    margin-bottom:0;
}
.author{
    font-weight: bold;
    font-size:2.4rem;
    margin-left:auto;
    margin-top:0;
}